@import '../sass/variable/style.scss';

footer{
    background-color: var(--couleur-primary);
        .footer-nav{
            padding: 60px 20px 10px 20px;
            text-align: center;
            position: relative;
        

        .position-relative{
                background-color: #fff;
                width: 60%;
                left: 20%;
                top: -80px;
                position: absolute;
                padding: 20px 30px 5px 20px;
                border-radius: 12px;


        ul {
            display: flex;
            justify-content: space-between;
            font-size: 0.8em;
            list-style-type: circle;
        
        li {
            position: relative;


            a {
                text-decoration: none;
                color: #000;
                transition: color 300ms ease-out;

                &:hover {
                    color: #EA9F06;
                    }
                }
            }
        }
    }
}
        
        .container{ 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
        
        p{
            margin-top: 30px;
            color: #fff;
            font-size: 13px;

        }
    }
    
}

@media (max-width: 720px) {
    footer{
        background-color: var(--couleur-primary);
        
            .container{ 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
            
            p{
                margin-top: 30px;
                color: #fff;    
                font-size:10px;
            }
        }
    }
    
}



@media (max-width: 540px) {
    footer{
        background-color: var(--couleur-primary);
        .footer-nav{
            padding: 60px 10px 10px 10px;
            text-align: center;
            position: relative;
        

        .position-relative{
            background-color: #fff;
            width: 65%;
            left: 17%;
            top: -80px;
            position: absolute;
            padding: 20px 30px 5px 20px;
            border-radius: 12px;

        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: circle;
            font-size: 0.6em;
        }
        }
    }
            .container{ 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
            
    

            img{
                width:40px;
                height: 40px;
            
            
            
            p{
                margin-top: 15px;
                color: #fff;
                font-size: 10px;
                }
            }
            
        }
    }   
        
}
    
        

