@import '../sass/variable/style.scss';
   
footer{
    background-color: var(--couleur-primary);

        .container{ 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }

        .row{
            margin-top: 20px;
        }
        
        p{
            margin-top: 30px;
            color: #fff;
            font-size: 13px;
        }
    
}

@media (max-width: 720px) {
    footer{
        background-color: var(--couleur-primary);
    
            .container{ 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
            }
    
            .row{
                margin-top: 20px;
            }
            
            p{
                margin-top: 30px;
                color: #fff;    
                font-size:10px;
            }
        
    }
    
}



@media (max-width: 540px) {
            

    footer{
        background-color: var(--couleur-primary);
    
            .container{ 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
            }
    
            .row{
                margin-top: 10px;
            }

            img{
                width:25px;
                height: 25px;
            
            }
            
            p{
                margin-top: 15px;
                color: #fff;
                font-size: 10px;
            }
            
            }
        
    }
    
        

