@mixin Boxshadow($color){
    box-shadow: 10px 10px 118px 0px $color;
    -webkit-box-shadow: 10px 10px 118px 0px $color;
    -moz-box-shadow: 10px 10px 118px 0px $color;
    -o-box-shadow: 10px 10px 118px 0px $color;
    -ms-box-shadow: 10px 10px 118px 0px $color;
}

body{
    div{
        width: 50vw;
        height: 50vh;
        @include Boxshadow(red)
    }

    .toto{
        width: 30vw;
        height: 50vh;
        @include Boxshadow(green)
    }
}