/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background: #000;
}

button {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  height: 4em;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

body {
  background-color: #1C1C1C;
  font-family: "liberation_sansregular", Arial, Helvetica, sans-serif;
}
body header {
  background-image: url("../../images/background.jpg");
  box-shadow: 0px 5px 20px #111;
}
body header .contenu {
  max-width: 876px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px 0;
}
@media all and (max-width: 992px) {
  body header .contenu {
    flex-direction: column;
    padding: 30px 6% 30px 6%;
  }
}
body header .contenu .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .contenu .left h1 {
  text-align: left;
  font-size: 20px;
  margin-top: 18px;
}
@media all and (max-width: 992px) {
  body header .contenu .left h1 {
    text-align: center;
  }
}
body header .contenu .left h1 span {
  color: #EA9F06;
}
body header .contenu .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
}
@media all and (max-width: 992px) {
  body header .contenu .right {
    width: 100%;
    align-items: flex-start;
  }
}
body header .contenu .right p {
  font-size: 1.3em;
  margin-bottom: 23px;
}
@media all and (max-width: 992px) {
  body header .contenu .right p {
    margin: 33px 0 23px 0;
  }
}
body header .contenu .right nav {
  width: 100%;
}
body header .contenu .right nav ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
body header .contenu .right nav ul a {
  text-decoration: none;
  color: #212121;
  font-weight: 600;
  transition: color 500ms ease-out;
}
body header .contenu .right nav ul a:hover {
  color: #EA9F06;
}
body .f {
  box-shadow: 0px 3px 10px #111;
}
body .f .content {
  width: 70%;
}
body .f .content .header_img img {
  width: 100%;
  object-fit: contain;
  height: auto;
}
@media all and (max-width: 992px) {
  body .f .content .header_img img {
    object-fit: cover;
    height: 170px;
  }
}
body .f .content .cards {
  background-color: #F3F3F3;
  padding-right: 3%;
  padding-bottom: 90px;
}
body .f .content .cards .carte {
  width: 38%;
  margin: 3% 4% 3% 5%;
  padding: 0%;
  position: relative;
}
@media all and (max-width: 992px) {
  body .f .content .cards .carte {
    width: 70%;
  }
}
body .f .content .cards .carte .bloc1 img {
  width: 100%;
  object-fit: contain;
  height: auto;
}
body .f .content .cards .carte .bloc1 .titre_produit {
  font-size: 1.3vw;
  margin-top: -35px;
  text-transform: uppercase;
}
@media all and (max-width: 992px) {
  body .f .content .cards .carte .bloc1 .titre_produit {
    font-size: 2vw;
    margin-top: -15px;
  }
}
body .f .content .cards .carte .bloc1 .les_prix {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .f .content .cards .carte .bloc1 .les_prix .btn-voire {
  width: 45%;
  text-align: center;
}
body .f .content .cards .carte .bloc1 .les_prix .btn-voire a {
  display: block;
  text-decoration: none;
  padding: 8px;
  background: linear-gradient(#363636, #191919);
  color: #fff;
}
body .f .content .cards .carte .bloc1 .les_prix .btn-voire a:hover {
  color: #000;
  background: #EA9F06;
}
@media all and (max-width: 992px) {
  body .f .content .cards .carte .bloc1 .les_prix .btn-voire a {
    font-size: 2.5vw;
  }
}
body .f .content .cards .carte .bloc1 .les_prix .prix_orng {
  color: #EA9F06;
}
body .f .content .cards .carte .bloc1 .les_prix p + p {
  font-size: 150%;
  font-size: 2.5vw;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
body .f .content .cards .carte .prix_pourcentage {
  position: absolute;
  top: 15px;
  right: -4vw;
  padding: 5px 10px;
  background-color: #292929;
  color: #EA9F06;
  font-weight: bold;
  font-size: 2vw;
  border-radius: 10px;
}
@media all and (max-width: 992px) {
  body .f .content .cards .carte .prix_pourcentage {
    border-radius: 6px;
  }
}
body .f .content .cards .carte .prix_pourcentage:hover {
  animation: wiggle 2s linear infinite;
}
body .footer1 {
  background-color: #373737;
}
body .footer1 div {
  padding: 60px 25px 30px 25px;
  text-align: center;
  position: relative;
}
body .footer1 div nav {
  background-color: #fff;
  width: 50%;
  left: 25%;
  top: -30px;
  position: absolute;
  padding: 20px 30px 5px 20px;
  border-radius: 12px;
}
@media all and (max-width: 992px) {
  body .footer1 div nav {
    width: 80%;
    left: 10%;
  }
}
body .footer1 div nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  list-style-type: circle;
}
body .footer1 div nav ul li {
  position: relative;
}
body .footer1 div nav ul li a {
  text-decoration: none;
  color: #000;
  transition: color 300ms ease-out;
}
body .footer1 div nav ul li a:hover {
  color: #EA9F06;
}
body .footer2 {
  background-color: #373737;
}
body .footer2 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .footer2 .row {
  margin-top: 20px;
}
body .footer2 p {
  margin-top: 30px;
  color: #fff;
  font-size: 13px;
}
@media (max-width: 720px) {
  body .footer2 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .footer2 .row {
    margin-top: 20px;
  }
  body .footer2 p {
    margin-top: 30px;
    color: #fff;
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  body .footer2 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body .footer2 .row {
    margin-top: 10px;
  }
  body .footer2 img {
    width: 25px;
    height: 25px;
  }
  body .footer2 p {
    margin-top: 15px;
    color: #fff;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
